<div class="container__big-card">
  <div class="big-card__image">
    <img src="https://blog.playstation.com/tachyon/2024/01/4761dc3993d18849158d7d52a7641cee35c03238.jpg" alt="" srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">PlayStation Plus Game Catalog for January: Resident Evil 2, Tiny Tina's Wonderlands, Hardspace: Shipbreaker and more</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Following on from 2024's inaugural PlayStation Plus Monthly Games lineup, today we can announce the first additions to the PlayStation Plus Game Catalog*. Enjoy a survival horror masterclass in the shape of Resident Evil 2, fuse D&D with guns via Tiny Tina’s Wonderlands, experience the daily life of a blue-collar spaceship salvager in Hardspace: Shipbreaker and get destructive in paradise with Just Cause 3. These and many more titles are playable from January 16. Let's take a closer look at each game in turn.</a></p>
  </div>
</div>
