<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__image">
      <img src="https://blog.playstation.com/tachyon/2024/01/e4f69f68677646a842f293bf6c25414b183962cd-scaled.jpeg" alt="" srcset="">
    </div>
    <div class="small-card__title">
      <h1><a href="#">Indulge in the Sins of the Flesh in Cult of the Lamb's next free update, out Jan 16</a></h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr>
  </div>
</div>



