<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-blog-title></app-blog-title>
<section class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover = "https://blog.playstation.com/tachyon/2024/01/4761dc3993d18849158d7d52a7641cee35c03238.jpg"
    cardTitle="PlayStation Plus Game Catalog for January: Resident Evil 2, Tiny Tina's Wonderlands, Hardspace: Shipbreaker and more"
    cardDescription="Following on from 2024's inaugural PlayStation Plus Monthly Games lineup, today we can announce the first additions to the PlayStation Plus Game Catalog."></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://blog.playstation.com/tachyon/2024/01/e4f69f68677646a842f293bf6c25414b183962cd-scaled.jpeg"
    cardTitle="Indulge in the Sins of the Flesh in Cult of the Lamb's next free update, out Jan 16"></app-small-card>
    <app-small-card
    photoCover="https://blog.playstation.com/tachyon/2023/12/426b8c80fe38e2d62fca89bc5d676288403bc6a7.jpg"
    cardTitle="8 cozy games to enjoy on PlayStation Portal this holiday"></app-small-card>
    <app-small-card
    photoCover="https://blog.playstation.com/tachyon/2023/12/ce5a18b6afd2d69b3170dae66b7b6420641037bc-scaled.jpeg"
    cardTitle="How Suicide Squad: Kill the Justice League loadout options enable customizable chaos"></app-small-card>
  </div>
</section>
